*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  font: inherit;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

ul, ol {
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}